.wrapper{
    max-width: 60%;
}

#headerr{
    background-image: url("../IMG/ss.png");
    height: 50vh;
    background-size: cover;
    background-position: center;
}

footer{background-color: darkgray;}

@media (max-width: 1200px){

}

@media (max-width: 998px){

}