.grid-container{
    display:grid;
    border:solid 1px black ;
    width:45%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, 100px);
    gap: 1rem;
}
.bottle{
    grid-column:2 / 4;
    grid-row:1/3;
}
.test{
    grid-row:3/5;
}
.double{
    grid-column:3/3;
    grid-row:4/6;
}
.quad{
    grid-area:5 / 1 / 7 / 3;
}
.tee{
    grid-area:7/2/9/4;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:1000px){
    div{
        background-color: green;
    }
    .double{
        grid-column:2/2;
        grid-row: 2/4;
    }
    .quad{
        grid-area:2/3/4/1;
    }
}
@media (min-width:200px)and (max-width:600px){
    div{
        background-color: red;
    }
    .double{
        grid-column: 1/1;
        grid-row:3/5;
    }
    .quad{
        grid-area:2/2/3/3;
    }
}