figure{
    display: inline-block;
    height: auto;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    width: auto;
}
table{
    text-align: left;
    /* border: 1px solid antiquewhite; */
    border-collapse: separate;
    margin-bottom:20px;
    padding-left:15px;
}
tr{
    border: 1px solid antiquewhite;
    border: 1px solid antiquewhite;
}
th{
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    height: 30px;
    padding-left: 5px;
}
td{
    background-color: white;
    width: 250px;
    border: 1px solid antiquewhite;
    height: 30px;
    padding-left: 5px;
}
input[type=text],input[type=email],select,textarea{
    display: inline-block;
    width:100%;
    margin-bottom:10px;
    
}
input[type=text],input[type=email],select{
    height: 25px;
}
button{
    background-color: purple;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15%;
}
p{
    text-align: left;
}
footer{
    background-color: rgb(65, 65, 65);
    color: white;
    text-align: center;
    height: 70px;
    align-content:middle;
}
.author{
    text-align: center;
    padding-top:25px;
}
header{
    background-color: antiquewhite;
    height: 70px;
    border-radius: 4%;
}
section{
    border: 1px solid antiquewhite;
    margin: 2% 0;
    border-radius:2%;
}
table{
    width: 100%;
}
img{
    border-radius: 20%;
    height:150%;
    padding-left: 15px;
}
figcaption{
    padding-left: 15px;
}
h2{
    padding-left: 15px;
}
.text{
    padding-left: 15px;
}
form{
    padding-left: 15px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
caption{
    display: inline-block;
}